## Read Data from .txt file

In [7]:
columns = ['label'] + [f'I{i}' for i in range(1, 14)] + [f'C{i}' for i in range(1, 27)]

In [ ]:
import pandas as pd


df = pd.read_csv('day_11_sample_1m.txt', sep='\t', names=columns, na_values=[''])


for col in [f'I{i}' for i in range(1, 14)]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
print(df.head())
print(df.isnull().sum())

   label     I1     I2    I3    I4    I5   I6   I7   I8  I9  ...       C17  \
0      0    NaN    NaN   0.0   0.0   NaN  1.0  0.0  124   0  ...  d20856aa
1      0  118.0    NaN  11.0   NaN   NaN  0.0  0.0    1  15  ...  1f7fc70b
2      0    3.0  234.0  12.0  14.0  23.0  0.0  0.0  570  12  ...       NaN
3      0   10.0    8.0   4.0   NaN   NaN  0.0  0.0    1   2  ...  1f7fc70b
4      0    NaN   45.0   NaN   7.0   2.0  NaN  0.0   26   0  ...  d20856aa

        C18       C19       C20       C21       C22       C23       C24  \
0  7232d217  9512c20b  6c8c076c  174c2fe8  b32f71aa  59f8acf3  f3a1835d
1  b8170bba  9512c20b  ffae69ed  4ac01130  97ec4657  db4454d6  47fe9e6f
2  b8170bba  9512c20b  dbf29097  b7c0f1a7  e3e2dc3f       NaN  7cc1f2ce
3  d9fd9ab1  9512c20b  727fe02c  4f0b32e1  67bd4c5e  cb09f492  35eb9d54
4  b8170bba  9512c20b  c09c8dc4  0dab03ac  f9630b49  673f629c  2b2f24e9

        C25       C26
0  30436bfc  b757e957
1  337b81aa  962813c6
2  30436bfc  2ccea557
3  30436bfc  ed10571d
4  ff654802  ed10571d

[5 rows x 40 columns]
label         0
I1       191083
I2        91433
I3       254850
I4       418788
I5       403282
I6        89880
I7        32693
I8            0
I9            0
I10       89880
I11      403282
I12        6396
I13      254850
C1        41056
C2            0
C3            0
C4            0
C5            0
C6            0
C7            0
C8            0
C9            0
C10       41056
C11       41056
C12           0
C13           0
C14      369457
C15           0
C16      369457
C17      369457
C18           0
C19           0
C20       41056
C21       41056
C22       41056
C23      369457
C24           0
C25           0
C26           0
dtype: int64

In [10]:
df = df.dropna()
print(df.head())
print(len(df))

    label     I1      I2    I3     I4    I5    I6   I7   I8  I9  ...  \
6       0  396.0  1061.0   4.0   43.0   8.0   5.0  0.0    1  43  ...
8       0    7.0    98.0   1.0  127.0   2.0   0.0  0.0   11   1  ...
14      0   10.0   212.0   4.0  187.0  12.0   0.0  0.0    1  32  ...
19      0    6.0   109.0   8.0   11.0   7.0   4.0  1.0    8  12  ...
21      1  605.0  2114.0  10.0    0.0  63.0  40.0  0.0  123  46  ...

         C17       C18       C19       C20       C21       C22       C23  \
6   d20856aa  a1eb1511  9512c20b  dfb0fa4a  7e7ea51d  6cf302bd  00636f85
8   753da5f3  b8170bba  0a1d513f  89023f80  d3049ad5  f5f85510  bf8c0d9d
14  1f7fc70b  a1eb1511  b49a729d  02cf4cb0  387ffe8e  71fd9aa3  5293f6b1
19  753da5f3  a1eb1511  9512c20b  aa407b28  fb964222  016c9169  29730278
21  d20856aa  628f1b8d  9512c20b  0e29b5da  0683bc6f  47b99d80  6c9c1aa8

         C24       C25       C26
6   9a907b27  321935cd  6c730e3e
8   ac98eac5  991321ea  b757e957
14  10faae8f  ff654802  b757e957
19  a6815071  d0b1afa5  b757e957
21  6e6f29cc  ff654802  b757e957

[5 rows x 40 columns]
177364