## Read Data from .txt file

In [24]:
columns = ['label'] + [f'I{i}' for i in range(1, 14)] + [f'C{i}' for i in range(1, 27)]

In [25]:
import pandas as pd


df = pd.read_csv('day_1_sample_1m.txt', sep='\t', names=columns, na_values=[''])


for col in [f'I{i}' for i in range(1, 14)]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [26]:
print(df.head())

   label    I1     I2   I3     I4   I5   I6   I7   I8  I9  ...       C17  \
0      0   1.0   14.0  5.0   16.0  NaN  0.0  0.0    7   5  ...       NaN
1      0   1.0    7.0  NaN   29.0  7.0  0.0  0.0  567  28  ...  d20856aa
2      0  40.0   66.0  8.0   52.0  1.0  0.0  0.0   74   9  ...  1f7fc70b
3      1   5.0  406.0  5.0  155.0  3.0  0.0  0.0    9  26  ...  d20856aa
4      0   NaN  323.0  NaN    NaN  NaN  0.0  0.0   -1  17  ...  d20856aa

        C18       C19       C20       C21       C22       C23       C24  \
0  a1eb1511  9512c20b  6e458f2a  7e98b867  bc184765       NaN  4d260962
1  b8170bba  9512c20b  083f581c  5731c43e  be98cd91  b5d2988c  4dcdcc95
2  b7febce5  9512c20b  8e085d1c  013fcab7  3cb267bb  ace495b1  da50f6fa
3  2d243b56  9512c20b  c38e2f28  14f65a5d  25b1b089  d7c1fc0b  bc35dcb6
4  b8170bba  9512c20b  083f581c  5731c43e  be98cd91  b5d2988c  d6291fda

        C25       C26
0  337b81aa  b757e957
1  ff654802  ed10571d
2  ff654802  b757e957
3  30436bfc  ed10571d
4  991321ea  ed10571d

[5 rows x 40 columns]

In [27]:
print(df.isnull().sum())

label         0
I1       193473
I2        87338
I3       251329
I4       430809
I5       407476
I6        88323
I7        33204
I8            0
I9            0
I10       88323
I11      407476
I12       12452
I13      251329
C1        31898
C2            0
C3            0
C4            0
C5            0
C6            0
C7            0
C8            0
C9            0
C10       31898
C11       31898
C12           0
C13           0
C14      378469
C15           0
C16      378469
C17      378469
C18           0
C19           0
C20       31898
C21       31898
C22       31898
C23      378469
C24           0
C25           0
C26           0
dtype: int64

### Method 1: Remove all NA rows.

In [28]:
df_rm_na = df.dropna()
print(df_rm_na.head())
print(len(df_rm_na))

    label    I1     I2   I3     I4    I5   I6   I7  I8  I9  ...       C17  \
2       0  40.0   66.0  8.0   52.0   1.0  0.0  0.0  74   9  ...  1f7fc70b
3       1   5.0  406.0  5.0  155.0   3.0  0.0  0.0   9  26  ...  d20856aa
7       0   1.0   97.0  1.0    8.0   1.0  0.0  1.0  58   3  ...  d20856aa
11      0  14.0  462.0  8.0    5.0  12.0  7.0  0.0   6  30  ...  d20856aa
12      0  24.0   82.0  1.0  133.0   3.0  0.0  0.0   0   1  ...  1f7fc70b

         C18       C19       C20       C21       C22       C23       C24  \
2   b7febce5  9512c20b  8e085d1c  013fcab7  3cb267bb  ace495b1  da50f6fa
3   2d243b56  9512c20b  c38e2f28  14f65a5d  25b1b089  d7c1fc0b  bc35dcb6
7   b8170bba  9512c20b  083f581c  5731c43e  be98cd91  583e86ea  d7b3dff0
11  b8170bba  9512c20b  c38e2f28  14f65a5d  25b1b089  d7c1fc0b  3f7e8c77
12  8dde252e  9512c20b  bff35e42  4337610f  01af027b  7c114569  2b20beea

         C25       C26
2   ff654802  b757e957
3   30436bfc  ed10571d
7   30436bfc  b757e957
11  30436bfc  ed10571d
12  cdc3217e  b757e957

[5 rows x 40 columns]
166384

### Method 2: Fill NA with 0

In [29]:
df_f0 = df.fillna(0)
print(df_f0.head())

   label    I1     I2   I3     I4   I5   I6   I7   I8  I9  ...       C17  \
0      0   1.0   14.0  5.0   16.0  0.0  0.0  0.0    7   5  ...         0
1      0   1.0    7.0  0.0   29.0  7.0  0.0  0.0  567  28  ...  d20856aa
2      0  40.0   66.0  8.0   52.0  1.0  0.0  0.0   74   9  ...  1f7fc70b
3      1   5.0  406.0  5.0  155.0  3.0  0.0  0.0    9  26  ...  d20856aa
4      0   0.0  323.0  0.0    0.0  0.0  0.0  0.0   -1  17  ...  d20856aa

        C18       C19       C20       C21       C22       C23       C24  \
0  a1eb1511  9512c20b  6e458f2a  7e98b867  bc184765         0  4d260962
1  b8170bba  9512c20b  083f581c  5731c43e  be98cd91  b5d2988c  4dcdcc95
2  b7febce5  9512c20b  8e085d1c  013fcab7  3cb267bb  ace495b1  da50f6fa
3  2d243b56  9512c20b  c38e2f28  14f65a5d  25b1b089  d7c1fc0b  bc35dcb6
4  b8170bba  9512c20b  083f581c  5731c43e  be98cd91  b5d2988c  d6291fda

        C25       C26
0  337b81aa  b757e957
1  ff654802  ed10571d
2  ff654802  b757e957
3  30436bfc  ed10571d
4  991321ea  ed10571d

[5 rows x 40 columns]

### Method 3: Fill NA with Mean

In [30]:
df_mean_mode = df

First variable: Label

In [31]:
print(df['label'].value_counts())

label
0    969972
1     30028
Name: count, dtype: int64

In [32]:
unique_counts = df.nunique()
print("Number of unique values per column:")
print(unique_counts)

Number of unique values per column:
label         2
I1         2216
I2         6323
I3          245
I4         5469
I5         1248
I6          231
I7          126
I8         4033
I9           87
I10           9
I11         141
I12       89108
I13         462
C1       177275
C2        12499
C3        12022
C4         4841
C5        12439
C6            3
C7         5991
C8         1144
C9           35
C10      134525
C11       34692
C12       36189
C13          10
C14        1879
C15        5454
C16          53
C17           3
C18         698
C19          14
C20      185642
C21       79596
C22      162845
C23       29887
C24        7882
C25          56
C26          33
dtype: int64

## Sampling

In [36]:
num_users = 5000
num_advertisers = 1000

sampled_user_ids = df['C1'].dropna().unique()
sampled_user_ids = pd.Series(sampled_user_ids).sample(n=num_users, random_state=42)

sampled_advertiser_ids = df['C2'].unique()
sampled_advertiser_ids = pd.Series(sampled_advertiser_ids).sample(n=num_advertisers, random_state=42)

In [37]:
df_sampled = df[
    df['C1'].isin(sampled_user_ids) |
    df['C2'].isin(sampled_advertiser_ids)
]

In [38]:
original_ctr = df['label'].mean()


sampled_ctr = df_sampled['label'].mean()

print(f'Original CTR: {original_ctr:.9f}')
print(f'Sampled CTR: {sampled_ctr:.9f}')

Original CTR: 0.030028000
Sampled CTR: 0.025497765

In [45]:
def evaluate_sampling_ctr(df, user_col='C1', adv_col='C2', label_col='label', random_state=42):

    
    sample_configs = [
        (1000, 500),
        (2000, 800),
        (3000, 1000),
        (4000, 1200),
        (5000, 1500),
        (6000, 2000),
        (7000, 2500),
        (8000, 3000),
        (9000, 3500),
        (10000, 4000),
        (10000, 3000),
        (10000, 2000), 
        (10000, 1500),
        (17000, 1200)
    ]

    
    original_ctr = df[label_col].mean()

    results = []

    for user_n, adv_n in sample_configs:
        
        sampled_users = df[user_col].dropna().unique()
        if len(sampled_users) < user_n:
            sampled_users = sampled_users
        else:
            sampled_users = pd.Series(sampled_users).sample(n=user_n, random_state=random_state)

        
        sampled_advs = df[adv_col].dropna().unique()
        if len(sampled_advs) < adv_n:
            sampled_advs = sampled_advs
        else:
            sampled_advs = pd.Series(sampled_advs).sample(n=adv_n, random_state=random_state)

        
        df_sampled = df[
            df[user_col].isin(sampled_users) |
            df[adv_col].isin(sampled_advs)
        ]

        
        sampled_ctr = df_sampled[label_col].mean()

        results.append({
            'Users': user_n,
            'Advertisers': adv_n,
            'Sample Size': len(df_sampled),
            'Sampled CTR (%)': round(sampled_ctr * 100, 9),
            'Original CTR (%)': round(original_ctr * 100, 9),
            'CTR Difference (%)': round((sampled_ctr - original_ctr) * 100, 9)
        })

    result_df = pd.DataFrame(results)
    return result_df

In [46]:
ctr_comparison = evaluate_sampling_ctr(df)


print(ctr_comparison)

    Users  Advertisers  Sample Size  Sampled CTR (%)  Original CTR (%)  \
0    1000          500        72331         1.910661            3.0028
1    2000          800        94569         2.429972            3.0028
2    3000         1000       113048         2.515746            3.0028
3    4000         1200       128051         2.655973            3.0028
4    5000         1500       235767         2.582635            3.0028
5    6000         2000       264121         2.684376            3.0028
6    7000         2500       298911         2.708499            3.0028
7    8000         3000       334594         2.798018            3.0028
8    9000         3500       372078         2.925462            3.0028
9   10000         4000       402453         2.998363            3.0028
10  10000         3000       337907         2.801363            3.0028
11  10000         2000       273535         2.698741            3.0028
12  10000         1500       250608         2.651950            3.0028
13  17000         1200       159824         2.833116            3.0028

    CTR Difference (%)
0            -1.092139
1            -0.572828
2            -0.487054
3            -0.346827
4            -0.420165
5            -0.318424
6            -0.294301
7            -0.204782
8            -0.077338
9            -0.004437
10           -0.201437
11           -0.304059
12           -0.350850
13           -0.169684